<launch>
  <arg name="ticks_per_meter" value="10000" />
  <arg name="wheel_separation" value="0.2" />
  <arg name="ppr" value="900"/>
  <arg name="d_wheel" value="0.06"/>
  <arg name="wheel_base" value="0.11"/>
  <arg name="urdf_file" default="$(find openbase)/urdf/robot.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg urdf_file)" />

  
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find openbase)/config/view.rviz" />

</launch>
