<launch>
  <arg name="ppr" value="900"/>
  <arg name="d_wheel" value="0.06"/>
  <arg name="wheel_base" value="0.11"/>
  <arg name="urdf_file" default="$(find openbase)/urdf/robot.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg urdf_file)" />
  <arg name="base_frame_id" value="simulation"/>
  <arg name="odom_frame_id" default="odom"/>
  <node name="$(anon node_odometry)" pkg="openbase" type="node_odometry.py">
    <rosparam subst_value="true">
      base_frame_id: $(arg base_frame_id)
      odom_frame_id: $(arg odom_frame_id)
    </rosparam>
  </node>

  <node name="node_robot_mock" pkg="openbase" type="node_robot_mock.py" output="screen">
    <rosparam subst_value="true">
      base_frame_id: $(arg base_frame_id)
      odom_frame_id: $(arg odom_frame_id)
      d_wheel: $(arg d_wheel)
      ppr: $(arg ppr)
      wheel_base: $(arg wheel_base)
    </rosparam>
  </node>
  <node name="$(anon node_autonomous)" pkg="openbase" type="node_autonomous.py" output="screen">
    <rosparam subst_value="true">
      base_frame_id: $(arg base_frame_id)
      odom_frame_id: $(arg odom_frame_id)
    </rosparam>
  </node>
  <node name="$(anon teleop)" pkg="openbase" type="node_teleop.py" output="screen">
    <rosparam subst_value="true">
      base_frame_id: $(arg base_frame_id)
    </rosparam>
  </node>

</launch>
